---
name: Code Review

# yamllint disable-line rule:truthy
on:
  pull_request:

# Declare default permissions as read only.
permissions: read-all   
    
jobs:
  build:
    name: Lint code base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter@962a6409c1b303d0e53a9d34ada577a0362f4fae # v5.2.1
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_MARKDOWN: true
          VALIDATE_TERRAFORM_TFLINT: true
          VALIDATE_YAML: true
          ERROR_ON_MISSING_EXEC_BIT: true